$dark :#111111;
$main-color :#5BB543;
$gray : #525252;
$white :#EBEBEB;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

ul{
  text-decoration: none;
}